In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# import new_xgb_pred.csv
new_xgb_pred = pd.read_csv('/Users/yenhann/Documents/MIT/15.095 Machine Learning/15095-project/notebooks/new_xgb_pred.csv')
new_xgb_pred

# import gorup_stage_betting_odds.csv
group_stage_betting_odds = pd.read_csv('/Users/yenhann/Documents/MIT/15.095 Machine Learning/15095-project/data/group_stage_betting_odds_final.csv')
group_stage_betting_odds

# check if shape[0] of new_xgb_pred and group_stage_betting_odds are the same
print(new_xgb_pred.shape[0] == group_stage_betting_odds.shape[0])

True

In [7]:
# for each row in new_xgb_pred, check if the home_team and away_team are the same as in group_stage_betting_odds
for i in range(new_xgb_pred.shape[0]):
    if new_xgb_pred.iloc[i, 0] != group_stage_betting_odds.iloc[i, 0] or new_xgb_pred.iloc[i, 1] != group_stage_betting_odds.iloc[i, 1]:
        print('row', i, 'is not the same')

row 24 is not the same
row 25 is not the same
row 26 is not the same
row 27 is not the same
row 28 is not the same
row 29 is not the same
row 30 is not the same
row 31 is not the same
row 32 is not the same
row 33 is not the same
row 34 is not the same
row 35 is not the same
row 36 is not the same
row 37 is not the same
row 38 is not the same
row 44 is not the same
row 45 is not the same

In [8]:
# print rows 24 to 38 of new_xgb_pred
new_xgb_pred.iloc[44:46, :]

   home_team       away_team  home_win      draw  home_loss
44       USA           Wales  0.313079  0.036560   0.650361
45   Uruguay  Korea Republic  0.699120  0.157679   0.143201

In [9]:
# if 'South Korea' in home_team or away_team for group_stage_betting_odds, change it to 'Korea Republic'
for i in range(group_stage_betting_odds.shape[0]):
    if group_stage_betting_odds.loc[i, 'home_team'] == 'South Korea':
        group_stage_betting_odds.loc[i, 'home_team'] = 'Korea Republic'
    if group_stage_betting_odds.loc[i, 'away_team'] == 'South Korea':
        group_stage_betting_odds.loc[i, 'away_team'] = 'Korea Republic'

In [10]:
# sort group_stage_betting_odds by home_team and away_team and reset_index
group_stage_betting_odds = group_stage_betting_odds.sort_values(by=['home_team', 'away_team']).reset_index(drop=True)

In [11]:
# for each row in new_xgb_pred, check if the home_team and away_team are the same as in group_stage_betting_odds
for i in range(new_xgb_pred.shape[0]):
    if new_xgb_pred.iloc[i, 0] != group_stage_betting_odds.iloc[i, 0] or new_xgb_pred.iloc[i, 1] != group_stage_betting_odds.iloc[i, 1]:
        print('row', i, 'is not the same')

row 26 is not the same

In [12]:
# print rows 24 to 38 of new_xgb_pred
new_xgb_pred.iloc[24:38, :]

         home_team     away_team  home_win      draw  home_loss
24  Korea Republic         Ghana  0.228441  0.221633   0.549926
25  Korea Republic      Portugal  0.052464  0.266551   0.680985
26          Mexico        Poland  0.451844  0.145664   0.402492
27         Morocco       Croatia  0.465358  0.434983   0.099659
28     Netherlands       Ecuador  0.835085  0.113837   0.051078
29     Netherlands         Qatar  0.855578  0.115547   0.028875
30          Poland     Argentina  0.012500  0.398129   0.589371
31          Poland  Saudi Arabia  0.853476  0.118365   0.028159
32        Portugal         Ghana  0.805563  0.178387   0.016050
33        Portugal       Uruguay  0.903218  0.064523   0.032259
34           Qatar       Ecuador  0.326202  0.570737   0.103061
35           Qatar       Senegal  0.334568  0.053653   0.611779
36    Saudi Arabia        Mexico  0.557936  0.146920   0.295144
37         Senegal   Netherlands  0.246266  0.403616   0.350118

In [13]:
# print rows 24 to 38 of group_stage_betting_odds
group_stage_betting_odds.iloc[24:38, 0:5]

# find where "Mexcio" is in 'home_team' or 'away_team' in group_stage_betting_odds and replace with 'Mexico'
for i in range(group_stage_betting_odds.shape[0]):
    if group_stage_betting_odds.loc[i, 'home_team'] == 'Mexcio':
        group_stage_betting_odds.loc[i, 'home_team'] = 'Mexico'
    if group_stage_betting_odds.loc[i, 'away_team'] == 'Mexcio':
        group_stage_betting_odds.loc[i, 'away_team'] = 'Mexico'

In [14]:
# for each row in new_xgb_pred, check if the home_team and away_team are the same as in group_stage_betting_odds
for i in range(new_xgb_pred.shape[0]):
    if new_xgb_pred.iloc[i, 0] != group_stage_betting_odds.iloc[i, 0] or new_xgb_pred.iloc[i, 1] != group_stage_betting_odds.iloc[i, 1]:
        print('row', i, 'is not the same')

In [16]:
# save group_stage_betting_odds_final as group_stage_betting_odds_final_cleaned.csv
group_stage_betting_odds.to_csv('/Users/yenhann/Documents/MIT/15.095 Machine Learning/15095-project/data/group_stage_betting_odds_final_cleaned.csv', index=False)