In [3]:
import pandas as pd
import numpy as np

home_away_results = pd.read_csv('home_away_results.csv')
betting_odds = pd.read_excel('group_stage_betting_odds.xlsx')

## Read in home-away-results, account for odds
home_away_results.head()
# sort home_away_results by home_team
home_away_results = home_away_results.sort_values(by=['home_team'])

# sort betting_odds by betting team
betting_odds = betting_odds.sort_values(by=['betting team'])
home_away_results.head(2)
betting_odds.head(2)
home_away_results['expected_home_earnings'] = home_away_results['1'] * betting_odds['earnings_on_100']
home_away_results.head()

    home_team     away_team  x1         0         1  expected_home_earnings
12  Argentina  Saudi Arabia   1  0.370954  0.629046               62.904649
15  Argentina        Mexico   1  0.479024  0.520976              573.073086
22  Australia       Denmark   0  0.608758  0.391242              978.103866
31    Belgium        Canada   1  0.429842  0.570158              228.063275
32    Belgium       Morocco   1  0.488866  0.511134              230.010175